<!DOCTYPE html>
{% load static %}
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Cart</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/image/icon/apple-touch-icon.png'%}" >
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">

    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-2.css' %}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Genos:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .box{
        position: absolute;
        width:100%;
        height:350px;
        background-color: rgba(27, 31, 33, 0.62);
        margin-top:5px;
    }
    .address{
        padding-left: 50px;
    }
    .email{
        padding-left: 50px;
    }
    .phone{
        padding-left: 50px;
    }
    .messagebox{
        width:30%;
        height:100px;
        margin-top:-200px;
        margin-left:800px;
        color:white;

    }



    .main{
        font-family: 'Genos', sans-serif;
    }
    iframe{
       width:100%;
        height:500px;
        margin-top:340px;


    }
</style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-2 header-intro-clearance">

                       <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                    <a href="index.html" class="logo">
                        <img src="{% static 'imag/logo1.png' %}" alt="Molla Logo" width="180" height="20">
                    </a>
                    </div>
                    <div class="header-left">

                        <div class="dropdown category-dropdown">
    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                Browse Categories
                            </a>
                            <div class="dropdown-menu">
                                    <nav class="side-nav">
                                        <ul class="menu-vertical sf-arrows">
                                        <li><a href="{% url 'digitalproducts' %}"><b>Digital-Products</b> </a></li>
                                        <li><a href="{% url 'Furniture' %}"><b>Furniture</b></a></li>
                                        <li><a href="{% url 'clothing' %}"><b>Clothing</b></a></li>
                                        <li><a href="{% url 'Household' %}"><b>Households</b></a></li>

                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li class="megamenu-container active">
                                    <a href="{% url 'index' %}">Home</a>

                                </li>
                               <li><a href="{% url 'uproducts' %}" >

                                Product</a> </li>
                                <li>

                                    <a href="#" >
                                     User Account</a>
                                    <ul class="menu-vertical">
                                        <li>
                                            <a href="{% url 'Register' %}"><b>User-Register</b> </a></li>

                                         <li><a href="{% url 'login' %}"><b>User-Login</b></a>
                                        </li>
                                    </ul>


                                </li>
                                <li>
                                    <a href="#">Admin Account</a>
                                    <ul class="menu-vertical">
                                        <li><a href="{% url 'alogin' %}"><b>Admin Login</b></a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="{% url 'contact' %}" >Contact-US</a>
                                </li>

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->
                </div>
                       </div>
        </header>
        <main class="main">
            <div class="intro-slider-container">
                <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>


                    <div class="intro-slide" style="background-image: url({% static 'assets/images/demos/demo-2/slider/slide-3.jpg' %});">
                        <div class="container intro-content">
                            <h3 class="intro-subtitle">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title">Ypperlig <br>Coffee <br><span class="text-primary"><sup>INR</sup>120</span></h1><!-- End .intro-title -->

                          <!--  <a href="category.html" class="btn btn-primary">
                                <span>Shop Now</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>-->
                        </div><!-- End .container intro-content -->
                    </div><!-- End .intro-slide -->

                    <div class="intro-slide" style="background-image: url({% static 'assets/images/demos/demo-2/slider/slide-3.jpg' %});">
                        <div class="container intro-content">
                            <h3 class="intro-subtitle">Living Room</h3><!-- End .h3 intro-subtitle -->
                            <h1 class="intro-title">
                                Make Your Living Room <br>Work For You.<br>
                                <span class="text-primary">
                                    <sup class="text-white font-weight-light">from</sup><sup>INR</sup>10,000
                                </span>
                            </h1><!-- End .intro-title -->
 <!--
                            <a href="category.html" class="btn btn-primary">
                                <span>Shop Now</span>
                                <i class="icon-long-arrow-right"></i>
                            </a>-->
                        </div><!-- End .container intro-content -->
                    </div><!-- End .intro-slide -->
                </div><!-- End .owl-carousel owl-simple -->


            </div><!-- End .intro-slider-container -->
            <div class="page-content pb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="about-text text-center mt-3">
                                <h1 class="title text-center mb-2" style="color:brown">***Contact page***</h1><!-- End .title text-center mb-2 -->

                            </div><!-- End .about-text -->
                        </div><!-- End .col-lg-10 offset-1 -->
                    </div><!-- End .row -->
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"><div class="box">
    <h1 style="padding-left:50px;padding-top:30px;color:white;">contact us</h1>
    <div class="address">
        <i class="fa fa-address-book-o" aria-hidden="true" style="color:#c214c8;font-size:40px;"></i>
        <p style="color:white;padding-left:60px;margin-top:-33px;font-size:20px;">Alamuru Road,Mandapeta </p>

    </div><br>
    <div class="email">
        <i class="fa fa-envelope-o" aria-hidden="true" style="color:#14b3c8;font-size:40px"></i>
        <p style="color:white;padding-left:60px;margin-top:-33px;font-size:20px;">rlnmallika123@gmail.com</p>

    </div><br>
    <div class="phone">
         <i class="fa fa-phone" aria-hidden="true" style="color:#c84a14;font-size:40px"></i>
        <p style="color:white;padding-left:60px;margin-top:-33px;font-size:20px">9876543210</p>
    </div>

<div class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.36271427536!2d81.9194972699454!3d16.85794258237676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37969a681a69f7%3A0x4b41f784e70e268e!2sVignan%20Junior%20College!5e0!3m2!1sen!2sin!4v1686760138672!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div></div>
        <div class="col-sm-3"></div>
    </div>
</div>



    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
                <script src="{% static 'assets/js/demos/demo-2.js' %}"></script>
</div></div></div></main></body>


<!-- molla/index-1.html  22 Nov 2019 09:55:32 GMT -->
</html>